[submodule "OpenRef/Dependencies/include/glm"]
	path = OpenRef/Dependencies/include/glm
	url = https://github.com/g-truc/glm
[submodule "OpenRef/Dependencies/include/stb"]
	path = OpenRef/Dependencies/include/stb
	url = https://github.com/nothings/stb
